<div class="bg">

<div class="row d-flex justify-content-center align-items-center bg" id=sessao-idealizadoras>

    <div class="container d-flex justify-content-center pt-5 pb-5">
        <div>

            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                  <div class="card h-90">
                    <img src="https://i.imgur.com/dNglcTb.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a wider</p>
                    </div>
                   
                  </div>
                </div>
                <div class="col">
                  <div class="card h-90">
                    <img src="https://i.imgur.com/aR0zcEJ.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This card has </p>
                    </div>
                  
                  </div>
                </div>
                <div class="col">
                  <div class="card h-90">
                    <img src="https://i.imgur.com/aR0zcEJ.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">nome git git</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row row-cols-1 row-cols-md-3 g-4 mt-5 justify-content-center">
                <div class="col">
                  <div class="card h-90">
                    <img src="https://i.imgur.com/aR0zcEJ.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a wider</p>
                    </div>
                
                  </div>
                </div>
                <div class="col">
                  <div class="card h-90">
                    <img src="https://i.imgur.com/aR0zcEJ.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This card has </p>
                    </div>
                  
                  </div>
                </div>
                
              </div>
    </div>
</div>
</div>