@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

.bg{
    background-color: #ffff;
    width:100%;
    min-height: 50vh;
    background-size: cover;
    color:  #055BA6;
}

.text{
    color: #055BA6;
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
}

h3 {
    font-size: 2rem !important;
    font-weight: 600 !important;
   
  }