
  <div class=" d-flex justify-content-center align-items-center bg" id=sessao-parceiros >

    <h3 class="text col-md-2 "><b>Parceiros: </b></h3>
    <div class=" d-flex justify-content-center pt-5 pb-5 text">
     

      <div class="col-md-8">

       

        <img src="https://i.imgur.com/sPeCkhi.png" width="300px" class="img-fluid mb-4 ">


      </div>

      <div class="col-md-6">

        <img src="https://i.imgur.com/qD4zxWq.png" width="200px" class="img-fluid mb-4">


      </div>


    </div>
  </div>
