<nav class="navbar navbar-light d-flex align-items-center bg-menu ">
  <div class="row col-md-7 d-flex justify-content-end">
    <img src="https://i.imgur.com/HZ2FHFi.png" width="40" height="40" alt="">
    <h3 class="text-white">De Gota em Gota</h3>
    </div>
  
  
    <div class="row col-md-5 d-flex justify-content-end align-items-center">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item pl-3">
          <a class="m-0 font-weight-bold text-white fs-16" (click)="sair()" >Sair <i class="fa fa-sign-out" aria-hidden="true"></i></a>
        </li>
      </ul>
    </div>
  </nav>
