<div class="container-fluid bg texto">

    <div class="align-items-center">


        <div class="margem d-flex justify-content-center">
            <div class="caixa borda col-md-2 font-c">

                <div class="text-center mb-3 mt-4">
                    <h2>Bem-vinde!</h2>
                    <p>Faça seu login para acessar o conteúdo da plataforma</p>

                </div>

                <div class="form-group">
                    <label for="usuario"></label>
                    <span class="fa fa-envelope"></span>
                    <input [(ngModel)]='userLogin.usuario' type="text" class="form-control borda bg-m" name="usuario" id="usuario"
                        placeholder="Email ">
                </div>

                <div class="form-group">
                    <label for="senha"></label>
                    <span class="fa fa-lock"></span>
                    <input [(ngModel)]='userLogin.senha' type="password" class="form-control borda bg-m" name="senha" id="senha" placeholder="Senha">
                </div>
                <div class="d-flex justify-content-center">
                    <button class="btn btn-success c-b mt-4 text-dark"  type="submit" (click)='entrar()'>Entrar</button>
                </div>


                <p class="text-center mt-4">Não tem uma conta? <a class="c-c" routerLink="/cadastrar"><b>Crie
                            uma!</b></a></p>
            </div>

        </div>

        <div class="col-md-5" id="img-bg"></div>

    </div>
</div>