
.bg{
    background-image: url('https://i.imgur.com/MarxxCK.jpg');
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    height: 935px;
}

.margem{
    padding-top: 200px;
}

.caixa{
    background-color: rgba(231, 231, 231, 0.363);
    border-radius: 20%;
    
}

.bg-m{
    background-color: #366b99a2;
}

.font-c{
    
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #061e33;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgb(10, 10, 10);    
    
    
}

.c-c{
    color: #0613ca;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color:#1c1d1c;
}

::placeholder{
    color: #010931;

}


.color-b{
    background-color: #034e91;
}

.texto {
    font-family: 'Tangerine', serif;
    text-shadow: 4px 4px 4px #aaa;
  }

span{
    position: absolute;
    margin-left: 12px;
    height: 25px;
    display: flex;
    align-items: center;
    padding-top: 12px;
    color: #26f80a;
}


.form-group .form-control {
    padding-left: 2.375rem;
}


}
.form-group .form-control {
    padding-left: 2.375rem;
}

