
.bg{
    background-image:url('https://i.imgur.com/Cd7M9WW.jpg');
    background-position: center;
    background-repeat: no-repeat;
    width:100%;
    min-height: 100vh;
    background-size: cover;

}


.borda{
    border-radius: 20px;

}

.bg-m{
    background-color: #2d618fa2;
}

.font-c{
    
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#ffffff;  
   
}

.c-c{
    color: #0613ca;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color:#1c1d1c;
}

::placeholder{
    color: #ffffff;

}

.form-control-icon {
    color: var(--cg-400);
  }

.color-b{
    background-color: #17466e;
}

span{
    position: absolute;
    margin-left: 12px;
    height: 25px;
    display: flex;
    align-items: center;
    padding-top: 12px;
    color: #3ff826;
}
.form-group .form-control {
    padding-left: 2.375rem;
}

.caixa{
    background-color: rgba(231, 231, 231, 0.363);
    border-radius: 20px;
  
}


.bot-cad{
    background-color: #6E8C03;
    color: rgb(5, 77, 21);
}

.montagem{

    padding-top: 100px;
    width: 800px;
    position:relative;
	left: 5%;
	
	}

