<div class="container">
  <div class="row col-md-4 my-5">
    <div class="div card d-flex align-content-center p-3 shadow">
      <img src="{{foto}}" alt="" class="img-fluid rounded-circle borda shadow" width="60%" onerror="this.src = '../../assets/img/user.png'">
      <div class="row d-flex justify-content-center mb-3">

      </div>
      <div class="row d-flex justify-content-center">
        <h5 class="text-center font-weight-bold">{{nome}}</h5>
      </div>
      <div class="row d-flex justify-content-center">
        <small class="text-muted">{{usuario}}</small>
      </div>
      <div class="row d-flex justify-content-center mt-3">
        <button class="w-100 text-left btn btn-blue mx-3 my-1 px-3 text-white" data-toggle="modal" data-target="#todasPostagens">
          <i class="fa fa-book pr-2 " aria-hidden="true"></i> Encontrar Projetos
        </button>
        <button class="w-100 text-left btn btn-blue mx-3 my-1 px-3 text-white" routerLink="/">
          <i class="fa fa-book text-cg-50 pr-2" aria-hidden="true"></i> Meus Projetos
        </button>
        <button class="w-100 text-left btn btn-blue text-cg-600 mx-3 my-1 px-3 text-white" routerLink='/'>
          <i class="fa fa-sliders pr-2" aria-hidden="true"></i> Editar perfil
        </button>
        <button class="w-100 text-left btn btn-blue mx-3 my-1 px-3 text-white"data-toggle="modal" data-target="#novoSubtema">
          <i class="fa fa-sliders pr-2" aria-hidden="true"></i> Subtemas 
        </button>
      </div>
  <div class="col-md-8">
  </div>
</div>

      
    <div class="modal fade" id="novoSubtema" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloModalCentralizado">Novo Subtema</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input [(ngModel)]="subtema.descricao" type="text" class="form-control" id="titulo"
                        placeholder="Digite o subtema">
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-info mr-4"
                    data-dismiss="modal" (click)="cadastrar()">Cadastrar</button>
                <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Cancelar</button>
            </div>

            <div class="container">
              <div class="row mt-5">
                <div class="col-md-12">
                  <h2 class="text-center">Todos os Subtemas</h2>
                </div>
              </div>
              <div class="mt-3 mb-5 d-flex justify-content-center">
                <div class="col-md-12">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Descrição</th>
                        <th scope="col" class="text-right">Modificações</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor='let item of listaSubtemas'>
                        <th>{{item.id}}</th>
                        <td>{{item.descricao}}</td>
                        <td class="d-flex justify-content-end">
                          <button class="btn btn-info" data-dismiss="modal" [routerLink]="['/subtemas-edit', item.id]">Editar</button>
                          <button class="btn btn-outline-dark ml-3" data-dismiss="modal" [routerLink]="['/subtemas-delete', item.id]">Apagar</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>


