<div class="container-fluid">
    <div class="container ">
      <div class="row my-5">
  
        <div class="col-md-3">
          <div class="div card d-flex align-content-center p-3">
            <div class="row d-flex justify-content-center mb-3">
              <img class="rounded-circle img-fluid b-img" width="100rem" src="" onerror="this.src = '../../assets/img/gravatar.png'">
            </div>
            <div class="row d-flex justify-content-center">
              <h5 class="text-center"></h5>
            </div>
            <div class="row d-flex justify-content-center mt-3">
              <button class="w-100 text-left btn btn-violeta text-cg-50 mx-3 my-1 px-3" data-toggle="modal" data-target="#novaPostagem">
                <i class="fa fa-plus-square-o text-cg-50 pr-2 " aria-hidden="true"></i> Encontrar Projetos
              </button>
              <button class="w-100 text-left btn btn-violeta text-cg-50 mx-3 my-1 px-3" routerLink="/tema">
                <i class="fa fa-plus-square-o text-cg-50 pr-2" aria-hidden="true"></i> Meus Projetos
              </button>
              <button class="w-100 text-left btn btn-cg-100 text-cg-600 mx-3 my-1 px-3" routerLink='/cadastrar'>
                <i class="fa fa-sliders pr-2 text-violeta" aria-hidden="true"></i> Editar perfil
              </button>
            </div>
          </div>
        </div>
