<div class="container">
  <div class="row">
    <div class="col-md-4 d-flex justify-content-center my-5 size-card">
      <div class="div card d-flex align-content-center p-3 shadow fixed-left">
        <img src="{{foto}}" alt="" class="img-fluid rounded-circle borda shadow" width="60%"
          onerror="this.src = '../../assets/img/user.png'">
        <div class="row d-flex justify-content-center">
          <h5 class="text-center font-weight-bold">{{nome}}</h5>
        </div>
        <div class="row d-flex justify-content-center">
          <small class="text-muted">{{usuario}}</small>
        </div>
        <div class="row d-flex justify-content-center mt-3">
          <button class="w-100 text-left btn btn-blue mx-3 my-1 px-3 text-white" data-toggle="modal"
            data-target="#todasPostagens" routerLink="/postagem">
            <i class="fa fa-book pr-2 " aria-hidden="true" ></i> Encontrar Projetos
          </button>
          <button class="w-100 text-left btn btn-blue mx-3 my-1 px-3 text-white" data-toggle="modal" data-target="#novoSubtema">
            <i class="fa fa-object-group pr-2" aria-hidden="true"></i> Todos Subtemas
          </button>
          <button (click)="findByIdUser()" class="w-100 text-left btn btn-blue mx-3 my-1 px-3 text-white" data-toggle="modal" data-target="#meusProjetos">
            <i class="fa fa-book text-cg-50 pr-2" aria-hidden="true"></i> Meus Projetos
          </button>
          <button class="w-100 text-left btn btn-blue text-cg-600 mx-3 my-1 px-3 text-white" [routerLink]="['/user-edit', id]">
            <i class="fa fa-pencil-square-o pr-2" aria-hidden="true"></i> Editar perfil
          </button>
        </div>
      </div>

      <!-- * Modal Subtemas  -->
      <div class="modal fade" id="novoSubtema" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="TituloModalCentralizado">Novo Subtema</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <input [(ngModel)]="subtema.descricao" type="text" class="form-control" id="titulo"
                  placeholder="Digite o subtema">
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-info mr-4" data-dismiss="modal"
                (click)="cadastrar()">Cadastrar</button>
              <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Cancelar</button>
            </div>

            <div class="container">
              <div class="row mt-5">
                <div class="col-md-12">
                  <h2 class="text-center">Todos os Subtemas</h2>
                </div>
              </div>
              <div class="mt-3 mb-5 d-flex justify-content-center">
                <div class="col-md-12">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Descrição</th>
                        <th scope="col" class="text-right">Modificações</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor='let item of listaSubtemas'>
                        <th>{{item.id}}</th>
                        <td>{{item.descricao}}</td>
                        <td class="d-flex justify-content-end">
                          <button class="btn btn-info" data-dismiss="modal"
                            [routerLink]="['/subtemas-edit', item.id]">Editar</button>
                          <button class="btn btn-outline-dark ml-3" data-dismiss="modal"
                            [routerLink]="['/subtemas-delete', item.id]">Apagar</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- * Modal Subtemas  -->

    <!-- * Postagem de Projeto-->
    <div class="col-md-8">
      <div class="col-md-12">
        <div class="tab-content mt-5" id="nav-tabContent">
          <div class="tab-pane fade show active" id="postagemProjeto" role="tabpanel"
            aria-labelledby="nav-postagemProjeto-tab">

            <div class="card">
              <div class="card text-left">
                <div class="card-body">
                <div class="d-flex justify-content-center"><img src="{{foto}}"
                  class="rounded-circle"
                  width="10%"
                  onerror="this.src = 'assets/img/user.png'">
                <button type="button" class="w-100 btn btn-lg btn-block borda ml-4 text-white" data-toggle="modal"
                data-target="#novaPostagem">Publicar um projeto</button></div>
                <div class="d-flex justify-content-end">
                <button class="btn btn-primary mr-4" data-toggle="modal"
                data-target="#novaPostagem">Nova Postagem </button>
                <button class="btn btn-primary" data-toggle="modal"
                data-target="#novaPostagem">Publicar</button>
              </div>
                
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- * Postagem de Projeto-->


    <!--Modal de Postagem-->
    <div class="modal fade" id="novaPostagem" tabindex="-1" aria-labelledby="novaPostagem" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header card">
            <h5 class="modal-title" id="exampleModalLabel">Cadastre um novo Projeto</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <div class="form-group">
              <label for="titulo">Título*</label>
              <input [(ngModel)]='postagem.titulo'  type="text" class="form-control" id="titulo"
                placeholder="Digite o título">
            </div>

            <div class="form-group">
              <label for="texto">Texto*</label>
              <textarea [(ngModel)]='postagem.texto'  class="form-control" name="texto" id="texto" rows="3" placeholder="Descreva aqui o projeto"></textarea>
            </div>

            <div class="form-group">
              <label for="titulo">Link da foto*</label>
              <input [(ngModel)]='postagem.foto'  type="text" class="form-control" id="titulo"
                placeholder="Insira aqui o link da imagem">
            </div>

            <div class="form-group">
              <label for="texto">Escolha um tema cadastrado:
              </label>
              <select name="tema" id="tema" class="form-control" [(ngModel)]='idSubtema' (change)='findByIdSubtema()'>
                <option *ngFor='let item of listaSubtemas' value="{{item.id}}">{{item.descricao}}</option>
              </select>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-success" (click)='publicar()'  data-dismiss="modal">Publicar</button>
          </div>
        </div>
      </div>
    </div>
    <!--Modal de Postagem-->


    <!-- * Modal Meus Projetos  -->

    <div class="modal fade" id="meusProjetos" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="TituloModalCentralizado">Meus Projetos</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <div class="container">
              <div class="mt-3 mb-5 d-flex justify-content-center">
                <div class="col-md-12">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Título</th>
                        <th scope="col" class="text-right">Modificações</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor='let item of user.postagens'>
                        <th>{{item.id}}</th>
                        <td>{{item.titulo}}</td>
                        <td class="d-flex justify-content-end">
                          <button class="btn btn-info" data-dismiss="modal"
                            [routerLink]="['/postagem-edit', item.id]">Editar</button>
                          <button class="btn btn-outline-dark ml-3" data-dismiss="modal"
                            [routerLink]="['/postagem-delete', item.id]">Apagar</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- * Modal Subtemas  -->


  </div>
