<div class="bg">
    
    <div class="row d-flex justify-content-center align-items-center text" id=sessao-missao>

    <div class="container d-flex justify-content-center pt-5 pb-5">
        <div class="col-md-9">

            <h5>Nossa Missão</h5>

            <h3>Impacto Social</h3>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, dolor similique. Accusantium a
                assumenda animi consequuntur quae asperiores ab! Adipisci fuga debitis repudiandae voluptates minus
                nobis neque esse ipsam omnis.</p>
        </div>
    </div>
</div>
</div>