 .bg {
   background-image: url('https://i.imgur.com/27WzwKs.jpg');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
  
   height: 600px;
 }

 p,
 button {
   font-size: 1.35rem !important;
   font-weight: 400 !important;
 }

 h1 {
   font-size: 4rem !important;
   font-weight: 600 !important;
 }

