<div class="container py-50 conteudo">
    <div class="row d-flex justify-content-center align-items-center" id="sessao-home">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <h1 class="mb-4">O que é a plataforma De Gota em Gota? </h1>
  
            <p class="mb-5">
              Uma rede social que PROTAGONIZA a população em situação de vulnerabilidade. 
              Venha fazer parte da nossa rede!
            </p>
  
            <button class="btn btn-primary px-4" routerLink="/login">Entrar</button>
          </div>
        </div>
      </div>
      <div class="col-md-5 d-flex justify-content-center align-content-center bg-img-height">
      </div>
    </div>
  </div>
    
