<div class="d-flex justify-content-center align-items-center bg" id=sessao-home>  

    <div class="container-fluid d-flex justify-content-center text-white" >
        <div class="col-md-6">

            <h1>O que é a plataforma De Gota em Gota? </h1>

            <p>Uma rede social que protoganiza a população em situação de vulnerabilidade. 
              Venha fazer parte da nossa rede!</p>
              <button class="btn text-white" routerLink="/login"><b>Entrar</b></button>
        </div>
    </div>
</div>


<app-sessao-ods></app-sessao-ods>
<app-sessao-missao></app-sessao-missao>
<app-sessao-parceiros></app-sessao-parceiros>
<app-sessao-idealizadoras></app-sessao-idealizadoras>
<app-sessao-contato></app-sessao-contato>
