.bg{
    background-color: #ACD1F2;
    background-size: cover;
    width:100%;
    min-height: 70vh;
    background-size: cover;

}
.text {
    color: #055BA6;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-style: bold;
    
}