<div class="container-fluid  bg " id=sessao-contato>
    <div class=" justify-content-center pt-5">
        
        <div class="row d-flex justify-content-center  pt-5 ">
            <div class="col-md-5" id="img-bg">
                <img class="img-fluid" src="https://i.imgur.com/oK16Twl.png" alt="">
                
            </div>
         <div class="col-md-6">

            <div class="col-md-10 ">
                <form class="text">
                    <h3 class="d-flex justify-content-center px-0 mb-4 "><b>Contato</b></h3>
                    <div class="form-group  ">
                        <label for="exampleFormControlInput1 "><b>Nome:</b></label>
                        <input  type="nome" class="form-control " id="exampleFormControlInput1" placeholder="Seu nome">
                      </div>
                    <div class="form-group">
                      <label for="exampleFormControlInput1"><b>Endereço de email:</b></label>
                      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nome@exemplo.com">
                    </div>
                    <div class="form-group"> 
                      <label for="exampleFormControlTextarea1"><b>Assunto:</b></label>
                      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                
                    <div class="form-group d-flex justify-content-end">
                        <button class="btn btn-outline-primary" (click)="enviar()">Enviar</button>
                      </div>
          
                  </form>

            </div>
        </div>
       </div>

    </div>
</div>
<footer class="page-footer bg-cg-50">
  <div class="footer-copyright py-4 text-center text-cg-500">De Gota em Gota. Todos os direitos reservados © 2022</div>
</footer>

